/FifaDataSim/obj
/FifaDataSim/.idea
/FifaDataSim/bin
*.DotSettings
*.user
*.user
*.dll
/FifaDataSim.Net/FifaDataSim.App/bin
/FifaDataSim.Net/FifaDataSim.App/bin
/FifaDataSim.Net/FifaDataSim.App/obj
FifaDataSim.Net/FifaDataSim.App/obj/Debug/net10.0/WorldCupSimulator.AssemblyInfoInputs.cache
FifaDataSim.Net/FifaDataSim.App/obj/Debug/net10.0/WorldCupSimulator.AssemblyInfo.cs
FifaDataSim.Net/FifaDataSim.App/obj/Debug/net10.0/WorldCupSimulator.AssemblyInfoInputs.cache
FifaDataSim.Net/.idea/.idea.FifaDataSim/.idea/workspace.xml
